<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<dict>
		<key>dialects</key>
		<array>
			<string>Ermahgerd</string>
			<string>Pirate</string>
			<string>Shakespeare</string>
			<string>Oldenglish</string>
		</array>
		<key>langCategory</key>
		<string>Classic</string>
	</dict>
	<dict>
		<key>dialects</key>
		<array>
			<string>Na&apos;vi</string>
			<string>Ferb-latin</string>
			<string>Minion</string>
			<string>Groot</string>
		</array>
		<key>langCategory</key>
		<string>CGI</string>
	</dict>
	<dict>
		<key>dialects</key>
		<array>
			<string>Klingon</string>
			<string>Vulcan</string>
			<string>Romulan</string>
		</array>
		<key>langCategory</key>
		<string>Star Trek</string>
	</dict>
	<dict>
		<key>dialects</key>
		<array>
			<string>Mandalorian</string>
			<string>Sith</string>
			<string>Yoda</string>
		</array>
		<key>langCategory</key>
		<string>Star Wars</string>
	</dict>
	<dict>
		<key>dialects</key>
		<array>
			<string>Dothraki</string>
			<string>Valyrian</string>
		</array>
		<key>langCategory</key>
		<string>Game of Thrones</string>
	</dict>
</array>
</plist>
